* {
    box-sizing: border-box;
    /* --main-color: #2f2fa2; */
    --main-color:black;
    --accent-color: #2f2fa2;
    --sub-bg-color: #997381;
    --text-color: white;
    --accent-2-color: #f64c72;
}
nav{
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
}
nav > button{
    background-color: var(--accent-color);
    padding: 0.5rem 1rem;
}
nav > button:hover{
    background-color:var(--sub-bg-color);
    padding: 0.5rem 1rem;
}
nav > button > a{
    color: var(--text-color);
}
h1{
    color: white;
}
form {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem; 
}
form > div {
    margin-top: -2rem;
}
form > div > button{
    background-color:var(--accent-color);
    padding: 0.5rem 1rem;
    color: var(--text-color);
}
form > div > button:hover{
    background-color:var(--sub-bg-color);
    padding: 0.5rem 1rem;
}
body {
    background-color: var(--main-color);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    color: var(--text-color);
}

header {
    background-color: var(--main-color);
    /* display: flex; */
    justify-content: normal;
    padding: 1rem;
    margin-left: 2rem;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.search {
    background-color: transparent;
    border: 2px solid var(--accent-2-color);
    border-radius: 50px;
   display: inline-block;
    justify-content: center;
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;

}

.search::placeholder {
    color: var(--text-color);
} 

.search:hover {
    background-color: var(--sub-bg-color);
    color: var(--text-color);
    outline: none;
}
.search:focus {
    background-color: transparent;
    color: var(--text-color);
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.movies {
    background-color: var(--main-color);
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.movies img {
    width: 100%;
    border: 2px solid var(--accent-color);
    border-radius: 50px;

}

.movie-info {
    
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5rem;
}

.movie-info h3 {
    margin: 0;

}

.movie-info span {
    background-color: var(--main-color);
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.overview {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--accent-color);
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movies:hover .overview {
    transform: translateY(0);
}